@tailwind base;
@tailwind components;
@tailwind utilities;

.font-themix {
  font-family: var(--font-themix);
}

.font-skaut {
  font-family: var(--font-skaut-bold);
}

* {
  scroll-behavior: smooth;
}